<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA2GIsA0-bLzcSkhPCCXevsbOIjpFR0LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>704147931709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.discoveryzone.discoveryzon</string>
	<key>PROJECT_ID</key>
	<string>recovery-f86f0</string>
	<key>STORAGE_BUCKET</key>
	<string>recovery-f86f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704147931709:ios:ce5bd2b603b7ef9a6da054</string>
</dict>
</plist>